.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 1000; /* Ensure modal is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease; /* Fade-in animation */
}

.modalContent {
  background-color: #191A29; /* Dark theme */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  animation: slideIn 0.3s ease; /* Slide-in animation */
}

.closeButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
